// Color Defs

$backgroundColor: #9de9ff;
$navInactiveLink: #ffffff;
$buttonColor: #ff6060;
$footerColor: #969696;

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $backgroundColor;

    .wrapper {
        width: 340px;
        margin-top: -210px;

        @include MQ(S) {
            width: 400px;
        }
    }

    // NAVIGATION

    .auth-nav {
        display: flex;
        margin-bottom: 10px;

        a {
            padding: 20px 0;
            color: $navInactiveLink;
            font-weight: bold;
            font-size: 1.6rem;
            transition: color .2s;
            -webkit-tap-highlight-color: transparent;

            &:hover {
                color: #909090;
            }

            &.signIn { }
            &.signUp { margin-left: 30px; }
            &.reset { flex: 1; text-align: right; }

        }
    }

    &[data-active="signin"] a.signIn { color: #606060; }
    &[data-active="signup"] a.signUp { color: #606060; }
    &[data-active="reset"] a.reset { color: #606060; }

    // PAGES

    .authPages {
        position: relative;
        visibility: hidden;

        // Nozzle Animation

        &:before {
            content: "";
            position: absolute;
            top: -18px;
            left: 19px;
            width: 20px;
            height: 20px;
            visibility: visible;
            z-index: 180;
            border-style: solid;
            border-top-width: 10px;
            border-top-color: transparent;
            border-right-width: 10px;
            border-right-color: transparent;
            border-bottom-width: 10px;
            border-bottom-color: white;
            border-left-width: 10px;
            border-left-color: transparent;
            transition: all 0.4s;
            transition-timing-function: cubic-bezier(0.43, -0.37, 0.61, 0.96);
        }

        .page {
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;

            .button-auth {
                margin: 0;
                padding: 20px;
                background-color: $buttonColor;
                border: none;
                border-bottom: 3px solid darken($buttonColor, 10%);
                border-radius: 5px;
                color: white;
                text-align: center;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background: darken($buttonColor, 2)
                }
            }

            *:nth-child(1) { z-index: 4 }
            *:nth-child(2) { z-index: 3 }
            *:nth-child(3) { z-index: 2 }
            *:nth-child(4) { z-index: 1 }
            *:nth-child(5) { z-index: 0 }

            input {
                flex: 1;
                width: 100%;
                margin-top: 0px;
                margin-bottom: 5px;
                padding: 20px;
                background-color: white;
                border: 2px solid white;
                border-radius: 5px;
                font-weight: bold;
                font-size: 1.4rem;

                -webkit-appearance: none;

                &::placeholder {
                    color: #E0E0E0;
                }

                &:-webkit-autofill {
                    -webkit-text-fill-color: #909090;
                    -webkit-box-shadow: 0 0 0 30px white inset;
                }

                &:focus {
                    outline: none;
                    border: 2px solid #e0e0e0;
                }
            }

            .auth-footer {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $footerColor;
                height: 60px;
                top: -6px;
                position: relative;
            }

        }

        // Switch Animation

        .auth-enter {
            form {
                > * {
                    transition: transform .44s .35s;
                    transition-timing-function: cubic-bezier(0.57, 0.09, 0.12, 1.25);
                }
                *:nth-child(1) { transform: translateY(0px); }
                *:nth-child(2) { transform: translateY(-65px); }
                *:nth-child(3) { transform: translateY(-130px); }
                *:nth-child(4) { transform: translateY(-195px); }
                *:nth-child(5) { transform: translateY(-260px); }
            }

        }

        .auth-enter.auth-enter-active {
            form {
                *:nth-child(1) { transform: translateY(0px); }
                *:nth-child(2) { transform: translateY(0px); }
                *:nth-child(3) { transform: translateY(0px); }
                *:nth-child(4) { transform: translateY(0px); }
                *:nth-child(5) { transform: translateY(0px); }
            }
        }

        .auth-exit {
            form {
                > * {
                    transition: all .2s .3s;
                    transition-timing-function: cubic-bezier(0.57, 0.09, 0.12, 1.28);
                }
                *:nth-child(1) { transform: translateY(0px); }
                *:nth-child(2) { transform: translateY(0px); }
                *:nth-child(3) { transform: translateY(0px); }
                *:nth-child(4) { transform: translateY(0px); }
                *:nth-child(5) { transform: translateY(0px); }
            }
        }

        .auth-exit.auth-exit-active {
            form {
                *:nth-child(1) { transform: translateY(0px); }
                *:nth-child(2) { transform: translateY(-65px); }
                *:nth-child(3) { transform: translateY(-130px); }
                *:nth-child(4) { transform: translateY(-195px); }
                *:nth-child(5) { transform: translateY(-260px); }
            }
        }


    }

    // Show Active Page

    &[data-active="signin"] .page-signin { visibility: visible; }
    &[data-active="signup"] .page-signup { visibility: visible; }
    &[data-active="reset"]  .page-reset { visibility: visible; }

    // Move Nozzle

    &[data-active="signin"] .authPages:before { transform: translateX(0)}
    &[data-active="signup"] .authPages:before { transform: translateX(90px)}
    &[data-active="reset"] .authPages:before { transform: translateX(287px)}

    @include MQ(S) {
        &[data-active="signin"] .authPages:before { transform: translateX(0)}
        &[data-active="signup"] .authPages:before { transform: translateX(100px)}
        &[data-active="reset"] .authPages:before { transform: translateX(340px)}
    }



}
