/* -----------------------------------------------------------------------------

    Base

------------------------------------------------------------------------------*/

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    background-color: #F4F4F2;
}

a {
    color: $primary-color;
    text-decoration: none;
}

img {
    max-width: 100%;
}
