/* -----------------------------------------------------------------------------

    Helpers

------------------------------------------------------------------------------*/

.noSelect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

._r { position: relative; }

// Font-Size Helpers

._fsxl { font-size: 1.2em; }

// Font-Weight Helpers

._fw200 { font-weight: 200; }
._fw300 { font-weight: 300; }
._fw400 { font-weight: 400; }
._fw500 { font-weight: 500; }
._fw600 { font-weight: 600; }
._fw700 { font-weight: 700; }


// Margin Helpers

._m0 { margin: 0px; }
._m5 { margin: 5px; }
._m10 { margin: 10px; }
._m15 { margin: 15px; }
._m20 { margin: 15px; }
._m25 { margin: 15px; }

._mt0 { margin-top: 0px; }
._mt5 { margin-top: 5px; }
._mt10 { margin-top: 10px; }
._mt15 { margin-top: 15px; }
._mt20 { margin-top: 20px; }
._mt25 { margin-top: 25px; }

._mr0 { margin-right: 0px; }
._mr5 { margin-right: 5px; }
._mr10 { margin-right: 10px; }
._mr15 { margin-right: 15px; }
._mr20 { margin-right: 20px; }
._mr25 { margin-right: 25px; }

._mb0 { margin-bottom: 0px; }
._mb5 { margin-bottom: 5px; }
._mb10 { margin-bottom: 10px; }
._mb15 { margin-bottom: 15px; }
._mb20 { margin-bottom: 20px; }
._mb25 { margin-bottom: 25px; }

._ml0 { margin-left: 0px; }
._ml5 { margin-left: 5px; }
._ml10 { margin-left: 10px; }
._ml15 { margin-left: 15px; }
._ml20 { margin-left: 20px; }
._ml25 { margin-left: 25px; }

._mla { margin-left: auto; }
._mra { margin-right: auto; }

// Padding Helpers

._p0 { padding: 0px; }
._p5 { padding: 5px; }
._p10 { padding: 10px; }
._p15 { padding: 15px; }
._p20 { padding: 20px; }
._p25 { padding: 25px; }

._pt0 { padding-top: 0px; }
._pt5 { padding-top: 5px; }
._pt10 { padding-top: 10px; }
._pt15 { padding-top: 15px; }
._pt20 { padding-top: 20px; }
._pt25 { padding-top: 25px; }

._pr0 { padding-right: 0px; }
._pr5 { padding-right: 5px; }
._pr10 { padding-right: 10px; }
._pr15 { padding-right: 15px; }
._pr20 { padding-right: 20px; }
._pr25 { padding-right: 25px; }

._pb0 { padding-bottom: 0px; }
._pb5 { padding-bottom: 5px; }
._pb10 { padding-bottom: 10px; }
._pb15 { padding-bottom: 15px; }
._pb20 { padding-bottom: 20px; }
._pb25 { padding-bottom: 25px; }

._pl0 { padding-left: 0px; }
._pl5 { padding-left: 5px; }
._pl10 { padding-left: 10px; }
._pl15 { padding-left: 15px; }
._pl20 { padding-left: 20px; }
._pl25 { padding-left: 25px; }

// Flex helpers

._flexlr { display: flex; justify-content: space-between; }
._flexlrc { display: flex; justify-content: space-between; align-items: center; }

._flexcenter { display: flex; justify-content: center; align-items: center; }

// Screen

._fullscreen { height: 100vh; width: 100vw; }

// Border

._borderless { border: none; }
