/* -----------------------------------------------------------------------------

    Mixins

------------------------------------------------------------------------------*/

// Breakpoints

$S: 480px;
$M: 768px;
$L: 1170px;

// Media Queries
//
// Use: @include MQ(M) { ... }

@mixin MQ($canvas) {
    @if $canvas == S {
        @media only screen and (min-width: $S) { @content; }
    } @else if $canvas == M {
        @media only screen and (min-width: $M) { @content; }
    } @else if $canvas == L {
        @media only screen and (min-width: $L) { @content; }
    }
}

// Color Tint and Shade

@function shade($color, $percent) {
    @return mix(#000, $color, $percent);
}

@function tint($color, $percent) {
    @return mix(#fff, $color, $percent);
}
