/* -----------------------------------------------------------------------------

    Variables

------------------------------------------------------------------------------*/

// Colors

$primary-color: #2b3e51; // Pickled Bluewood
$secondary-color: #2c97de; // Curious Blue

$color-gray: #ddd;

// Fonts

$primary-font: 'Source Sans Pro', sans-serif;
